@import "bootstrap.less";

.main {
    margin: auto;
}

#temperature {
    text-align: center;
}

#icon {
    display: block;
    margin: auto;
}

#position {
    text-align: center;
}

#time {
    text-align: center;
}

#weather {
    text-align: center;
}